<!-- sidebar -->
<div class="section-nav list-group">
    <a class="list-group-item active" href="#">IEPD Repository</a>
    <a class="list-group-item" href="https://github.com/jtmrice/Template-IEPD">NIEM Template IEPD</a>
    <a class="list-group-item" href="#">Conformance Validation</a>
    <a class="list-group-item" href="#">Search IEPDs</a>
</div>

<a class="btn btn-primary feedback-btn" href="https://github.com/NIEM/NIEM.github.io/issues">
  <span class="icon fa fa-comments fa-sm"></span>
  <span class="content">Submit Feedback/Ideas</span>
</a>

